#wrapper {
  width: 800px;
  height: 600px;
  background-color: #5562D7;
  margin:0 auto;
  overflow: hidden;
}
#container {
  width: 800px;
  height: 500px;
  background-color: white;
  margin: 50px auto;
  box-shadow: 10px 5px 10px;  
}
nav {
  background-color: #000060;
  position: relative;	
}

nav#horz ul {
  list-style-type: none;
  padding-top: 15px;
  margin-left: 460px;
  overflow: hidden;	
}

nav#horz ul li {
  display: inline-table;
  margin: 0 15px;	
}

nav#horz ul li a {
  display: block;
  background-color: #000060;
  color: white;
  font-weight: bold;
  text-decoration: none;
  width: 100px;
  padding: 10px 0px 30px 0px;
  border-radius: 5px;
  text-align: center;	
}

nav#horz ul li a:hover {
  background-color: #006699; 	
}